@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

.logo {
    font-family: 'Julius Sans One', sans-serif;
    font-size: 2rem; 
    font-weight: 400;
    color: rgb(172, 131, 77); 
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 3rem;
    text-decoration: none;
}
a :hover {
    text-decoration: none;
}
a.logo:focus,
a.logo:active,
a.logo:hover {
    text-decoration: none; 
}