html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column; 
}

.main-content {
  flex: 1;
}

.book-container {
  max-width: 78rem;
  margin: 20px auto;
  text-align: center;
}
